.transparent {
  color: black;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid black;
}

p, li {
  font-size: 20px;
}

.para {
  text-indent: 5%;
}

header, footer {
  text-align: center;
}

figcaption {
  text-align: center;
}

summary {
  font-size: 24px;
  font-weight: bold;
}

